@charset "UTF-8";

label{
    float: left;
    margin-right: 30px;
}

.day{
    margin-top: 10px;
}

#mid-top{
    margin-bottom: 20px;
}

#pad-left{
    padding-left: 65px;
}

#write{
    margin-top: 10px;
    border-bottom: 1px solid #c6c6c6;
}

#content{
    padding: 10px 10px 10px 10px;
}

#but{
    float: right;
}

.txt-btn{
    width: 75px;
    height: 30px;
    margin: 10px 0px 10px 10px;
}