@charset "UTF-8";

#contents2 #main #sea{
    height: 20px;
    vertical-align: center;
}

#contents2 #main .btn{
    height: 25px;
    vertical-align: center;
}

#contents2 #main .search{
    float: right;
    text-align: right;
    margin-bottom: 7px;
}

table{
    width: 816px;
    height: 170px;
    font-size: 12px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}

table>thead>tr{
    background-color: #c6c6c6;
    border: 1px solid black;
}

table>tbody>tr>td, table>thead>tr>th{
    border: 1px solid black;
    text-align: center;
    border-right: hidden;
    border-left: hidden;
}

.txt-left{
    text-align: left;
}

#page{
    text-align: center;
}

#page ol{
    width: 42%;
    margin: 5px auto 0;
}

#page ol>li{
    float: left;
    margin: 0px 10px 0px 10px;
}

#write{
    float: right;    
}

#wri-btn{
    margin: 10px 0px 10px 0px;
    padding: 2px 6px 2px 6px;
}

