<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>mysite</title>
        <link href="../../assets/css/mysite.css" rel="stylesheet">
        <link href="../../assets/css/sign.css" rel="stylesheet"> 

    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                
    
                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>
            </div>
            
            <div id="nav">
                <ul class="clearfix">
                    <li><a href="">입사지원서</a></li>
                    <li><a href="">게시판</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">방명록</a></li>
                </ul>
            </div>

            <div id="contents2" class="clearfix">
                <div id="aside">
                    <h2>회원</h2> 
                    <ul>
                        <li><a href="">회원정보</a></li>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
                <div id="main">
                    <div id="top" class="clearfix">
                        <h3>회원가입</h3>
                        <ul class="clearfix">
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원가입</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="middle">
                        <div class="form-group">
                            <label class="txt-id">아이디</label>
                            <input type="text" id="txt-id" placeholder="아이디를 입력하세요">
                            <button class="bu01" type="submit"> 중복체크</button> <br>
                        </div>

                        <div class="form-group">
                            <label class="txt-pw">패스워드</label>
                            <input type="password" id="txt-pw"  placeholder="패스워드를 입력하세요"><br>
                        </div>
                        
                        <div class="form-group">
                            <label class="txt-name">이름</label>
                            <input type="text" id="txt-name" placeholder="이름을 입력하세요"><br>
                        </div>
                        
                        <div class="form-group">
                            <label class="txt-gen">성별</label>
                            <label>남</label>
                            <input type="radio">
                            <label>여</label>
                            <input type="radio"><br>
                        </div>
                        
                        <div class="form-group02">
                            <label class="sub">약관동의</label>
                            <input type="checkbox">
                            <label class="su">서비스 약관에 동의합니다.</label><br><br>
                        </div>
                        
                        <div class="btn-area">
                            <button>회원가입</button>
                        </div>

                    </div>



                </div>
            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ2024 이예슬 All right reserved
                </p>
            </div>
        </div>

    </body>    

</html>