<!DOCTYPE html>
<html>
    <head lang="Ko">
        <meta charset="UTF-8">
        <title>mysite</title>
        <link href="../../assets/css/mysite.css" rel="stylesheet">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                
                <h1>Mysite</h1>
                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>

            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li><a href="">입사지원서</a></li>
                    <li><a href="">게시판</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">방명록</a></li>
                </ul>
            </div>


            <div id="content" class="clearfix">
                <img id="profile" src="../../assets/images/jung.jpg">
                <div id="greeting-box">
                    <p id="greeting">
                        안녕하세요!<br>
                        이예슬의 Mysite에 오신 것을 환영합니다<br>
                        <br>
                        이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다
                        <br><br>
                    </p>
                    <p>    
                        사이트소개, 회원가입, 방명록, 게시판으로 구성
                        JSP&Servlet 방식으로 제작
                        <br><br>
                        자바 수업 데이터베이스 수업 웹 프로그래밍 수업
                        사이트래...
                        <br><br>
                        [방명록에 글 남기기]
                        <br>
                    </p>
                </div>
            </div>


            <div id="footer">
                <p>
                    Copyright ⓒ2024 이예슬 All right reserved
                </p>
            </div>
        </div>
    </body>
</html>